@media only screen and (min-width: 650px){
	 nav ul {
        text-align: center;
        display: inline-flex;
    }

    nav li {
        display: inline;
    }
    .top-nav ul{
		list-style-type: none;
		padding: 20px;
		background-color: #211D24; /*CHANGE*/
	}
    .top-nav ul li{
    	border-color: #F54320;
		padding: 10px; 
		margin-right: -5px;
    }
    .top-nav ul li a  {
        display: inline;
    }

    .photo-grid {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -ms-flexbox;
	  display: flex;
	  flex-flow: row-reverse wrap; /*Try nowrap and resize*/
	}

	.photo-cell {
	  box-sizing: border-box;

	  width: 100%;
	}
	.photo-cell-vertical{
	  box-sizing: border-box;
	  width: 50%;
	  margin-left: 0;
	}


}
